<div class="card form-container">
    <div class="card-header selection-panel-header">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        &nbsp;{{ windowTitle }}
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
            <div class="form-row">
                <div class=" form-group col-md-7 col-sm-12">
                    <select id="indicator-select"
                            name="indicator"
                            class="form-control form-control-sm"
                            required
                            (change)="onIndicatorSelected()"
                            #indicatorSelect
                            [(ngModel)]="defaultIndicator">
                        <option value="-1" disabled>Choose an indicator </option>
                        <option
                                *ngFor="let indicator of validIndicators"
                                value="{{ indicator.indicator }}">
                            {{ indicator.indicator + " " + indicator. description }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-5 col-sm-12">
                    <select id="series-select"
                            name="series"
                            (change)="onSeriesSelected()"
                            class="form-control form-control-sm"
                            required
                            #seriesSelect
                            [(ngModel)]="defaultSeries">
                        <option value="-1" disabled >Choose a time series</option>
                        <option *ngFor="let series of validSeries"
                                value="{{ series.series }}">
                            {{ series.description }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <select id="year-select"
                            name="year"
                            (change)="onYearSelected()"
                            class="form-control form-control-sm"
                            required
                            #yearSelect
                            [(ngModel)]="defaultYear">
                        <option value="-1" disabled  selected>Choose a year</option>
                        <option *ngFor="let year of availableYears"
                                value="{{ year }}"> {{ year }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select
                            name="age"
                            (change)="onAgeGroupSelected()"
                            class="form-control form-control-sm"
                            #ageGroupSelect
                            [(ngModel)]="defaultAgeGroup">
                        <option value="-1" disabled selected>Choose an age group</option>
                        <option *ngFor="let ageGroup of ageGroups"
                                value="{{ ageGroup.id }}"> {{ ageGroup.age_group }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control form-control-sm"
                            name="gender"
                            #genderSelect
                            [(ngModel)]="defaultGender">
                        <option value="-1" disabled selected>Choose a gender</option>
                        <option *ngFor="let gender of genders"
                                value="{{ gender.id }}">{{ gender.gender }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="submit"
                           class="btn btn-sm btn-success submit-button"
                           value="Update >>"
                           [disabled]="!dataForm.valid" >
                </div>
            </div>
        </form>
    </div>
</div>