.form-container {
    font-size: 12px;
}

.selection-panel-header {
    font-size: 12px;
}

.form-control-sm {
    height: 15px;
    font-size: 12px;
    padding: 0;
}

.submit-button {
    font-size: 15px;
    padding: 3px 15px;
}