.plot-panel-header {
    font-size: 12px;
}

.panel-header {
    background-color: #f7fcfd;
    border-bottom: 1px solid #ccece6;
    font-size: 12px;
}

.plot-container {
    /*box-shadow: 2px 2px 2px lightgrey;*/
    font-size: 12px;
    margin: 10px 0;
}

#plot-area {
    width: 100%;
    min-height: 390px;
}