#goals-panel {
    /*box-shadow: 2px 2px 2px lightgrey;*/
    font-size: 12px;
    /*height: 600px;*/
    border: 0;
    padding: 0;
    margin: 0;
}

#goals-container {
    overflow-y: scroll;
}

.panel-header {
    background-color: #f7fcfd;
    border: 1px solid #ccece6;
    font-size: 14px;
}

.goal {
    border-radius : unset;
    font-size : 12px;
    transition-property: border-left-width;
    transition-duration: 100ms;
}

.goal:hover {
    border-left: 4px solid #53c653;
}

.goal:focus{
    border-left: 4px solid #267326;
    background-color: #f2f2f2;
}

