<app-header></app-header>
<div class="container-fluid offset-top">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 offset-top container-panel">
            <app-goals></app-goals>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 container-panel">
            <div class="offset-top">
                <app-data-selection></app-data-selection>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12 offset-top">
                    <app-map></app-map>
                </div>
                <div class="col-md-5 col-sm-12 offset-top">
                    <app-plot></app-plot>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer bg-dark offset-top">
    <span>My footer text</span>
</footer>


